<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="win.hupubao.mapper.PermissionMapper" >

	<sql id="conditions">
		<where>
			<if test="@win.hupubao.common.utils.StringUtils@isNotBlank(permissionName)" >
				and permissionName like '%' || #{permissionName, jdbcType=VARCHAR} || '%'
			</if>
		</where>
	</sql>

	<sql id="conditionsValidatePermissions">
		<where>
			<if test="@win.hupubao.common.utils.StringUtils@isNotBlank(roleId)" >
				LEFT JOIN role_permission mrp
				ON mp.id = mrp.permission_id
				WHERE mrp.role_id = #{roleId, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
	
	<resultMap id="permissionBeanMap" type="win.hupubao.beans.biz.PermissionBean">
		<id property="id" column="id"/>
		<result property="menuId" column="menu_id"/>
		<result property="permissionName" column="permission_name"/>
		<result property="permission" column="permission"/>
		<result property="createTime" column="create_time"/>
		<result property="checked" column="checked" />
	</resultMap>
	
	<resultMap id="permissionAll" type="win.hupubao.beans.biz.PermissionBean">
		<id property="id" column="menu_id"/>
		<result property="permissionName" column="menu_name" />
		<collection property="children" javaType="java.util.List" resultMap="permissionBeanMap"/>
	</resultMap>


	<select id="selectList"
			parameterType="win.hupubao.beans.biz.PermissionBean"
			resultType="win.hupubao.beans.biz.PermissionBean">
		select
			*
		from permission
		<include refid="conditions"/>
	</select>

	<select id="selectValidatePermissionList"
			parameterType="java.lang.String"
			resultMap="permissionAll">

		select
			p.*,
			m.menu_name as menu_name,
			CASE WHEN (p.id in (

				SELECT mp.id
				FROM
					permission mp
				<include refid="conditionsValidatePermissions"/>
			))
				THEN 1
			ELSE 0 END  AS checked
		FROM permission p
			left join menu m on p.menu_id = m.id;

	</select>
</mapper>