<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="win.hupubao.mapper.PermissionMapper" >

	<sql id="conditions">
		<where>
			<if test="@win.hupubao.common.utils.StringUtils@isNotBlank(permissionName)" >
				and permissionName like '%' || #{permissionName, jdbcType=VARCHAR} || '%'
			</if>
		</where>
	</sql>


	<select id="selectList"
			parameterType="win.hupubao.beans.biz.PermissionBean"
			resultType="win.hupubao.beans.biz.PermissionBean">
		select
			*
		from permission
		<include refid="conditions"/>
	</select>

	<select id="selectValidatePermissionList"
			parameterType="java.lang.String"
			resultType="win.hupubao.beans.biz.PermissionBean">
		SELECT *
		FROM (
				 SELECT
					 id  AS id,
					 menu_name,
					 NULL        AS permission,
					 pid AS pid,
					 0           AS is_checked
				 FROM menu
				 WHERE `status` = 1
				 UNION
				 SELECT
					 id,
					 permission_name,
					 permission,
					 menu_id AS pid,
					 CASE WHEN (id IN (

						 SELECT permission_id
						 FROM
							 permission mp
							 LEFT JOIN role_permission mrp
								 ON mp.id = mrp.permission_id
						 WHERE mrp.role_id =  #{roleId, jdbcType=VARCHAR}
					 ))
						 THEN 'true'
					 ELSE 'false' END    AS is_checked
				 FROM permission

				 ORDER BY id
				 ASC
			 ) t;



	</select>
</mapper>