<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="win.hupubao.mapper.hupubao.ArticleMapper" >

	<sql id="conditions">
		<where>
			<if test="@win.hupubao.common.utils.StringUtils@isNotBlank(title)" >
				and title like '%' || #{title, jdbcType=VARCHAR} || '%'
			</if>

			<if test="@win.hupubao.common.utils.StringUtils@isNotBlank(categoryId)">
				and category_id = #{categoryId, jdbcType=VARCHAR}
			</if>

			<if test="@win.hupubao.common.utils.StringUtils@isNotBlank(category)">
				and c.name = #{category, jdbcType=VARCHAR}
			</if>

            <if test="@win.hupubao.common.utils.StringUtils@isNotBlank(tagId)">
                and at.tag_id = #{tagId, jdbcType=VARCHAR}
            </if>
            <if test="@win.hupubao.common.utils.StringUtils@isNotBlank(status)">
                and `status` = #{status, jdbcType=INTEGER}
            </if>
		</where>
	</sql>

	<resultMap id="articleListMap" type="win.hupubao.beans.biz.ArticleBean">
		<id column="id" property="id"/>
		<result column="creator" property="creator"/>
		<result column="title" property="title"/>
		<result column="category_id" property="categoryId"/>
		<result column="create_time" property="createTime"/>
		<result column="last_update_time" property="lastUpdateTime"/>
		<result column="type" property="type"/>
		<result column="status" property="status"/>
		<result column="category" property="category"/>
		<result column="intro" property="intro"/>
		<collection property="tagList"
                    javaType="java.util.List"
                    select="win.hupubao.mapper.hupubao.TagMapper.selectList"
                    column="{articleId=id}">
		</collection>
	</resultMap>

	<resultMap id="articleMap" extends="articleListMap"
			   type="win.hupubao.beans.biz.ArticleBean">
		<result column="context" property="context"/>
	</resultMap>

	<select id="selectList"
			parameterType="win.hupubao.beans.biz.ArticleBean"
			resultMap="articleListMap">
		select
			a.id,
			a.creator,
			a.title,
			a.category_id,
			a.create_time,
			a.last_update_time,
			a.type,
			a.status,
			a.intro,
			c.name as category
		from article a
			left join category c on a.category_id = c.id
		<include refid="conditions"/>
	</select>

	<select id="selectArticleDetail"
			parameterType="java.lang.String"
			resultMap="articleMap">
		select
			a.*,
			c.name as category
		from article a
			left join category c on a.category_id = c.id
		where a.id = #{id, jdbcType=VARCHAR}
	</select>
</mapper>