<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="win.hupubao.mapper.hupubao.TagMapper" >

	<sql id="conditions">
		<where>
			<if test="@win.hupubao.common.utils.StringUtils@isNotBlank(name)" >
				and title like '%' || #{name, jdbcType=VARCHAR} || '%'
			</if>
		</where>
	</sql>

	<resultMap id="tagMap" type="win.hupubao.beans.biz.TagBean">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="create_time" property="createTime"/>
	</resultMap>


	<select id="selectList"
			parameterType="win.hupubao.beans.biz.TagBean"
			resultType="win.hupubao.beans.biz.TagBean">
		select
			*
		from tag
		<include refid="conditions"/>
	</select>
</mapper>